/*Sección Hobbies*/

.hobbies{
    padding: 64px;
    height: 100vh;
}

.hobbies__title{
    font-size: 2.3rem;
    text-align: center;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.hobbies__box{
    width: 176px;
    height: 174px;
}

.hobbies__box ul{
    text-align: center;
    padding: 0 12px;
    color: #fcfcfc;
}

.hobbies__img img{
    width: 90px;
    height: 90px;
}

.hobbies__name{
    font-weight: bold;
    margin-top: 6px;
    font-size: 1.1rem;
}