/*Sección Menu*/
.menu__header{
    position: fixed;
    background: #0F2027;
    background: linear-gradient(to bottom, #00000080, #ffffff00);

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu__logo{
    width: 30px;
    vertical-align: middle;
}

li.abajo{
    color: #000000;
    background: linear-gradient(to bottom, #ffffff00, #ffffff, #ffffff00);
}

li.abajo a{
    color: #000000;
}

.menu__list , .menu__title{
    margin: 3px 0;
}

.menu__list{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list__item{
    margin: 0 10px;
    line-height:4;
}

.menu__list__item a{
    padding: 12px;
    transition: .4s background ease-in;
    font-weight: bold;
}

/* .menu__list__item a:hover{
    background: #da02b6;
} */