/*Sección Menu*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #0F2027;
    background: linear-gradient(to bottom, #00000080, #ffffff00);
    padding: 0 1rem;
    z-index: 1;
}

.header__logo{
    width: 30px;
    vertical-align: middle;
}

.header__title{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.nav__link{
    transition: .6s background ease;
}

.nav__link:hover{
    background: #00ddff;
    color: #000000;
}

.header__button-nav--open{
    background-color: #eb1cd9;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;
}

.header__button-nav--close{
    background-color: #32eefc;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;
}